--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1+cu116; python_version >= "3.10"
torchvision==0.14.1+cu116; python_version >= "3.10"
torch==1.9.0+cu111; python_version < "3.10"
torchvision==0.10.0+cu111; python_version < "3.10"
imutils >= 0.5.4, < 1.0
shapely >= 1.8.4, < 2.0
scipy < 2.0
timm == 0.5.4